@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Indie Flower", sans-serif
}

a {
    text-decoration: none;
}

.personal-logo {
    width: 100px;
    height: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
}

.nav__link--list {
    display: flex;
    list-style-type: none;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    font-size: 20px;
    color: rgb(119, 70, 179);
    font-weight: 700;
}